body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #1e293b;
}

.container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #1d4ed8;
}

#logs {
  padding: 20px;
}

.log {
  background: #1e293b;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}